.header {
    height: 80px;

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.navbar__list {
    display: flex;
    list-style: none;     
}
.navbar__list-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navbar__item-link {
    
    padding: 15px 10px;
    font-size: 1.6rem;
}
.link__get,
.link__buy {
    color: var(--white-color);
    border-radius: 10px;
}
.link__get:hover,
.link__buy:hover {
    transform: scale(0.9);
}
.link__get {
    background-color: var(--purple-color);
    
}
.link__buy {
    background-color: var(--primary-color);
}

.container {
    margin: 60px 0 30px;
}
/* Introduce */

.introduce {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.introduce__item {
    width: 25%;
    padding:0px 0 10px;
}

.item-content {
    position: relative;
}

.circle-color {
    position: relative;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    display: block;
    background-color: aqua;
    border-radius: 50%;
    opacity: 0.2;
}

.item-title {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.6rem;
    margin: 0;
}
.item-icon {
    font-size: 50px;
    color: var(--purple-color);
}

.item-info {
    padding: 0 30px;
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/* Achievement */

.achievement {
    margin: 20px 0 40px;
}
.title {
    text-align: center;
    font-size: 3rem;
    padding: 20px 0;
}

.title__highlight {
    color: var(--purple-color);
}

.achievement__content {
    display: flex;
    flex-wrap: wrap;
}

.achievement__content-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-background {
    background-color: aqua;
    width: 40%;
    display: block;
}

.slide-image  {
    margin-left: 30px;
    width: 100%;
}

.achievement__content-info {
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name {
    color: #000;
    font-weight: bold;
    position: relative;
    padding-left: 10px;
}

.item-name::before {
    content: " - ";
    position: absolute;
    margin-right: 10px;
    display: block;
    left: 0;

}

.owl-carousel > .owl-dots {
    text-align: left;
}

.owl-carousel > .owl-dots span {
    width: 15px !important;
    height: 15px !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--purple-color) !important;
}

.owl-carousel .item > .item-info {
    width: 80%;
}

.owl-carousel .item .item-content > .item-title{
    top: 12px !important;
    left: 40px !important;
}

/* Plan */
.plan {
     background: var(--plan-background);
     border-radius: 20px;
     padding: 30px;
}

.plan-content {
    display: flex;
    margin: 40px 0 60px;
    justify-content: space-around;
    flex-wrap: wrap;

}
.plan-items {
    width: calc(100% / 3);
}

.plan-item { 
    background: var(--white-color);
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
}

.plan-icon {
    margin-bottom: 20px;
    font-size: 30px;
    height: 71px;
    width: 71px;
    line-height: 71px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    
}

.plan-items:nth-child(1) .plan-item > .plan-icon {
    background-color: #fff0f1;
    color: #ee9fa4;
}
.plan-items:nth-child(2) .plan-item > .plan-icon {
    background-color: #f4e8fe;
    color: #b778fa;
}

.plan-items:nth-child(3) .plan-item > .plan-icon {
    background-color: #e3f8fb;
    color: #52c8d4;
}
.plan-items:nth-child(4) .plan-item > .plan-icon {
    background-color: #e5e5fd;
    color:  #7275d4;
}

.plan-items:nth-child(5) .plan-item > .plan-icon {
    background-color: #fff0f1;
    color: #ee9fa4;
}
.plan-items:nth-child(6) .plan-item > .plan-icon {
    background-color: #e4f9e6;
    color: #58d560;
}

.plan-title {
    font-size: 2rem;
    margin: 10px 0;
}

.plan-info {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/* Posts */

.posts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts-items {
    width: calc(100% / 3);
    padding: 15px;
}

.posts-item {
    width: 100%;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    border-radius: 10px;
}


.posts-boxImage {
    position: relative;
}
.posts-image {
    width: 100%;
}

.posts-note {
    position: absolute;
    left: 0;
    bottom: -1px;
    padding: 5px 15px;
    font-size: 1.6rem;
    background-color: var(--purple-color);
    color: var(--white-color);
}

.posts-note::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border-bottom: 20px solid #30418f;
    border-right: 10px solid transparent;
    
}

.posts-boxTitle {
    padding: 10px 20px;
}
.posts-name {
    font-size: 1.6rem;
    margin: 0;
}

.posts-info {
    font-size: 1.4rem;
    margin-top: 10px !important;
}