@media (max-width: 699px) {
    .page-section__benifit {
        margin-left: calc(var(--ballBg-size) / 2);
    }
    .page-section__product,
    .page-section__posts {
        padding: 90px 0;
    }

    /* Menu mobile */
    .menuBtn {
        opacity: 1 !important;
    }
    .navbar {
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99998;
        height: 100%;
        width: 100%;
        display: table;
        text-align: center;
        opacity: 0;
        /* transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); */
        transform: scale(0);
        align-items: center !important;
    }
    .navbar.act {
        opacity: 1;
        transform: scale(1);
    }
    .navbar.act ul li {
        opacity: 1; 
        transform: translateX(0);
    }
    .navbar ul {
        display: table-cell;
        vertical-align: middle;
    }
    .navbar li {
        padding: 8px 0;
        transition: all 400m 510ms;
        opacity: 0;
    }
    .navbar li:nth-child(odd) {
        transform: translateX(30%);
    }
    .navbar li:nth-child(even) {
        transform: translateX(-30%);
    }
    .navbar li:last-child {
        transform: none;
    }
}

@media (min-width: 700px) and (max-width: 1199px) {   
    .page-section__benifit {
        padding: 0 85px 0 46px;
    }
    .page-section__product,
    .page-section__posts {
        padding: 90px 0;
    }
}

@media (min-width: 1200px) {  
    .page-section__benifit {
        margin-left: var(--ballBg-size);
    }
    .page-section__product,
    .page-section__posts {
        padding: 90px 70px;
    }
    
    .navbar__mobile {
        display: none;
    }
}