/* Header */
.header {
    height: 110px;
}

.header__content {
    position: fixed;
    top: 0;
    z-index: 9999;  
    background: #ffffff;
    width: 100%;
    height: 110px;
}
.header__body{
    padding: 20px 0;
}

.logo__image {
    display: inline-block;
}

.navbar__item {
    margin-left: 15px;
}

/* button */
.button {
    display: inline-block;
    padding: 12px;
    position: relative;
}

.button::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: var(--purple-color);
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.navbar__item:hover .button::after {
	width: 100%;
	left: 0;
}

.button--purple,
.button--aqua {
    border-radius: 10px;
    color: #ffffff;
}

.button--purple:hover ,
.button--aqua:hover {
    transform: scale(0.9);
}

.button--purple {
    background: var(--purple-color);
}

.button--aqua {
    background: var(--aqua-color);
}

.navbar__item:hover .button--purple::after,
.navbar__item:hover .button--aqua::after {
    display: none;
}


/* Menu Mobile */
.menuBtn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;
    opacity: 0;
}
 .menuBtn > span {
    background-color: #008877;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;
}

.menuBtn > span:after, .menuBtn > span:before {
    content: '';
    background-color: #008877;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    transition: all 200ms;
}


.menuBtn > span:after {
    top: -7px;
}
.menuBtn > span:before {
    bottom: -7px;
}
.menuBtn.act > span {
    height: 0;
}
.menuBtn.act > span:after, .menuBtn.act > span:before {
    background-color: #008877;
    top: 1px;
}
.menuBtn.act > span:after {
    transform: rotate(45deg);
}
.menuBtn.act > span:before {
    transform: rotate(-45deg);
}


.page-section {
    padding: 90px 0;
    position: relative;
    z-index: 9;
}
.page-section__bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
} 

.page-section__bg--full {
    left: 10px;
    right: 10px;
    width: auto;
    border-radius: 30px;
}
.page-section__bg--full-pink {
    background-color: #FCF3EC;
}

.page-section__bg--left {
    left: 10px;
    border-radius: 0 30px 30px 0;
}
.page-section__bg--left-aqua {
    background-color: #F0F9FE;
    width: 80%;
}

/* Benifit */

.text-box__heading{
    font-size: 2rem;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 22px;
    position: relative;
}

.text-box__heading::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translate(-50% , -50%);
    display: block;
    width: var(--ballBg-size);
    height: var(--ballBg-size);
    border-radius: 50%;
    z-index: -1;
}
.text-box__heading--red::after {
    background: #FBE9E9;
}  

.text-box__heading--aqua::after {
    background: #E7FAF9;
}  
.text-box__heading--purple::after {
    background: #F5ECFD;
}  
.text-box__heading--blue::after {
    background: #E7EFFB;
}  

.text-box__about {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: var(--aboutText-color);
}


/* Review */
.page-section__review {
    margin-bottom: 31px;
}

.review{
    position: relative;
}
.review__image {
    padding-top: 55px;
}

.feedback-slider {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.owl-carousel {
    max-width: 600px;
    margin: auto;
}
.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    transform: scale(1.35);
    background: #5E68F9;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    text-align: left;
    padding-left: 20px;
}


.feedback {
    padding: 20px;
}
.feedback__image {
    max-width: 70px;
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
}
.feedback__image::after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 92px;
    height: 92px;
    background: #FDF1E7;
    border-radius: 50%;
}

.feedback__about {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--aboutText-color);
    margin-bottom: 29px;
}
.feedback__heading {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding-left: 25px;
}
.feedback__heading::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translateY(-30%);
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #D1D0D6;
}



/* product */

.product {
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
    height: 100%;
}
.product__icon {
    margin-bottom: 29px;
    display: inline-flex;
    border-radius: 50%;
    
}
.product__icon i {
    padding: 20px;
    font-size: 2.5rem;
}

.product__heading {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product__about {
    font-size: 15px;
    line-height: 2.4rem;
    color: var(--aboutText-color);
    font-weight: 400;

    display: -webkit-box;
    max-height: 9.6rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
}

.product__icon--red {
    background: rgb(255, 198, 199, 0.14);
    color: #ffc6c7;
}  

.product__icon--purple {
    color: #b170f2;
    background: rgb(177, 112, 242, 0.14);

}  

.product__icon--aqua {
    color: #61c1d1;
    background: rgb(97, 193, 209, 0.14);
}  

.product__icon--blue {
    color: #575cdc;
    background: rgb(87, 92, 220, 0.14);
}  

.product__icon--pink {
    color: #df74a8;
    background: rgb(223, 116, 168, 0.14);
}  

.product__icon--green {
    color: #93e59b;
    background: rgb(147, 229, 155, 0.14);
}  


/* Posts */

.posts {
    overflow: hidden;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.box-image {
    position: relative;
}

.box-image__image {
    height: 254px;
    overflow: hidden;
}

.box-image__note {
    position: absolute;
    left: 0;
    bottom: -5px;
    padding: 4px 15px;
    font-size: 13px;
    background-color: var(--purple-color);
    color: #fff;
}

.box-image__note::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border-bottom: 23px solid #30418f;
    border-right: 10px solid transparent;
}


.box-info {
    padding: 15px;
}

.box-info__name {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}

.box-info__date {
    font-size: 12px;
    line-height: 18px;
    color: var(--aboutText-color);
}


