/* Header */
.header {
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 9999; 
    width: 100%;
    background: #ffffff;
}

.header__content {
    height: 110px;
}

.logo__image {
    display: inline-block;
}

.navbar__item {
    margin-left: 15px;
}

.navbar__link {
    display: block;
    padding: 12px;
    position: relative;
}

.navbar__link::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: var(--purple-color);
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.navbar__item:hover .navbar__link::after {
	width: 100%;
	left: 0;
}

.navbar__link-get,
.navbar__link-buy {
    border-radius: 10px;
    color: #ffffff;
}

.navbar__link-get:hover ,
.navbar__link-buy:hover {
    transform: scale(0.9);
}

.navbar__link-get {
    background: var(--purple-color);
}

.navbar__link-buy {
    background: var(--aqua-color);
}

.navbar__item:hover .navbar__link-get::after,
.navbar__item:hover .navbar__link-buy::after {
    display: none;
}


/* Menu Mobile */
.menuBtn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;
    opacity: 0;
}
 .menuBtn > span {
    background-color: #008877;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;
}

.menuBtn > span:after, .menuBtn > span:before {
    content: '';
    background-color: #008877;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    transition: all 200ms;
}


.menuBtn > span:after {
    top: -7px;
}
.menuBtn > span:before {
    bottom: -7px;
}
.menuBtn.act > span {
    height: 0;
}
.menuBtn.act > span:after, .menuBtn.act > span:before {
    background-color: #008877;
    top: 1px;
}
.menuBtn.act > span:after {
    transform: rotate(45deg);
}
.menuBtn.act > span:before {
    transform: rotate(-45deg);
}



/* Benifit */
.benifit {
    margin-left: calc(var(--ballBg-size) / 2);
    margin-bottom: 81px;
    margin-top: 230px;
}

.benifit__heading {
    font-size: 2rem;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 22px;
    position: relative;
}

.benifit__heading::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translate(-50% , -50%);
    display: block;
    width: var(--ballBg-size);
    height: var(--ballBg-size);
    border-radius: 50%;
    z-index: -1;
}
.benifit .col:nth-child(1) .benifit__heading::after {
    background: #FBE9E9;
}  

.benifit .col:nth-child(2) .benifit__heading::after {
    background: #E7FAF9;
}  
.benifit .col:nth-child(3) .benifit__heading::after {
    background: #F5ECFD;
}  
.benifit .col:nth-child(4) .benifit__heading::after {
    background: #E7EFFB;
}  

.benifit__about {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: var(--aboutText-color);
}


/* Review */
.review {
    margin-bottom: 31px;
}
.title {
    max-width: 621px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.title__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 16px;
}


.title__heading strong {
    color: var(--purple-color);
}

.title__heading--normal {
    font-weight: 500;
    line-height: 35px;
}
.title__heading--normal strong {
    font-weight: 500;
}

.title__info {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--aboutText-color);
}
.review__boxImage {
    position: relative;
}
.review__image--bg {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #F0F9FE;
    width: 80%;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-size: cover;
    background-position: 50% 50%;
}
.review__comment {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.owl-carousel {
    max-width: 600px;
    margin: auto;
}
.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #5E68F9;
}


.item {
    padding: 20px;
}
.item__image {
    max-width: 70px;
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
}
.item__image::after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 92px;
    height: 92px;
    background: red;
    border-radius: 50%;
    opacity: 0.2;
}

.item__about {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--aboutText-color);
    margin-bottom: 29px;
}
.item__heading {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding-left: 25px;
}
.item__heading::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translateY(-30%);
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #333;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    text-align: left;
    padding-left: 20px;
}

/* Identify */
.product {
    background: rgb(245, 204, 204);
    border-radius: 20px;
}

.product__body {
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
    height: 100%;
}
.product__icon {
    margin-bottom: 29px;
    display: inline-flex;
    border-radius: 50%;
    
}
.product__icon i {
    padding: 20px;
    font-size: 2.5rem;
}

.product__heading {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product__about {
    font-size: 15px;
    line-height: 2.4rem;
    color: var(--aboutText-color);
    font-weight: 400;

    display: -webkit-box;
    max-height: 9.6rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
}

.product .col:nth-child(1) .product__icon {
    background: rgb(255, 198, 199, 0.14);
    color: #ffc6c7;
}  

.product .col:nth-child(2) .product__icon {
    color: #b170f2;
    background: rgb(177, 112, 242, 0.14);

}  

.product .col:nth-child(3) .product__icon {
    color: #61c1d1;
    background: rgb(97, 193, 209, 0.14);
}  

.product .col:nth-child(4) .product__icon {
    color: #575cdc;
    background: rgb(87, 92, 220, 0.14);
}  

.product .col:nth-child(5) .product__icon {
    color: #df74a8;
    background: rgb(223, 116, 168, 0.14);
}  

.product .col:nth-child(6) .product__icon {
    color: #93e59b;
    background: rgb(147, 229, 155, 0.14);
}  


/* Posts */

.posts__boxItem {
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.posts__boxImage {
    position: relative;
}

.posts__note {
    position: absolute;
    left: 0;
    bottom: -1px;
    padding: 4px 15px;
    font-size: 13px;
    background-color: var(--purple-color);
    color: #fff;
}

.posts__note::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border-bottom: 23px solid #30418f;
    border-right: 10px solid transparent;
}


.posts__boxInfo {
    padding: 15px;
}

.posts__name {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}

.posts__date {
    font-size: 12px;
    line-height: 18px;
    color: var(--aboutText-color);
}


