/* header */
.header {
    height: 80px;
    border-bottom: 1px solid var(--border-bottom-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white-color);
    z-index: 10;
}
.box__logo-search,
.box__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    cursor: pointer;
}
.header__logo:hover .header__logo-icon {
    fill: #f65e39;
    transition: all .3s;
}

.header__search {
    max-width: 600px;
    height: 49px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    transition: transform .4s;
    border-radius: 5px;
}
.header__search .booking__field.active {
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 14%);
    color: var(--black-color);
}

.search__location,
.search__date,
.search__guest {   
    flex-direction: column;
    height: 100%;
}



.booking__field {
    position: relative;
    border: none;
    background: none;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 16px;
}

.booking__field::before {
    
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    top: 50%;
    right: 0;
    background: #e7e7e7;
    transform: translateY(-50%);
}
.booking__field::before:last-child {
    background: var(--white-color);
}

.booking__icon {
    font-size: 1.6rem;
    margin-right: 5px;
}

.booking__input input {
    background: transparent;
    color: var(--black-color);
    border: none;
}

.booking__input-text {
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.4rem;
}

.booking__input-text:focus {
    box-shadow: none;
    border-color: inherit;
}


/* Guest Box */

.guest__box {
    display: none;
    position: absolute;
    top: 55px;
    left: -70px;
    background-color: var(--white-color);
    width: 320px;
    min-width: 150px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    padding: 10px;
    align-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    transition: all .3s;
}
.guest__box.open {
    display: flex;
}

.select__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.select__number-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select__number-name {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 1rem;
    margin-bottom: 0 !important;
}
.select__number-name-small{
    margin: 5px 0;
}
.number__input {
    width: 40px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
.number__input-decrease,
.number__input-increase {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f7fa;
    border: 1px solid #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;
}

.select__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-size: 1.6rem;
}
.select__action-btn{
    background-color: transparent;
    text-transform: none;
    margin: 0;
    border: none;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
}
.select__action-btn-primary {
    color: #f65e39!important;
}


.search__date-btn {
    color:var(--black-color);
    font-size: 1.4rem;
    background: transparent;
    border: none;
    font-weight: 700;
    line-height: 1.5;

}

.search__button {  
    outline: none;
    border: none;
    padding: 0 2.1rem;
    margin: 0 0.4rem;
    height: 36px;
    border-radius: 5px;
    box-shadow: none;
    align-self: center;
    text-transform: none;
    font-size: 1.4rem;
    line-height: 1.5;
    background: #555;
    font-weight: 700;
}
.box__menu{
    height: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    left: 0;
    height: 100%;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    letter-spacing: .2px;
    height: 100%;
}

.menu__link {
    position: relative;
    font-weight: 700;
    font-size: 1.4rem;
}
.is-become-host {
    position: relative;
}
.is-become-host::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -4px;
    width: 5px;
    height: 5px;
    background: orange;
    border-radius: 50%;
}

.btn--dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    background: #f6f6f6;
    padding: 0.5rem 2.75rem 0.5rem 0.5rem;
    border-radius: 2rem;
    font-weight: 600;
}
.btn--dropdown::before {
    content: "";
    position: absolute;
    border: 0.5rem solid transparent;
    border-top-color: #222;
    right: 12px;
    top: calc(50% - 2.5px);
}

.btn--dropdown-text {
    margin-left: 6px !important;
    cursor: pointer;
    font-weight: 600;
}

/* Slider */
.container {
    position: relative;
    margin-top: 80px;
    padding:  42px 2.8rem 0px;
}
.slideshow {
    max-width: 1400px;   
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.owl-slideshow {
    position: relative;
    transition: all .3s;
}

.owl-slideshow > .owl-dots {
    position: absolute;
    right: 20px !important;
    bottom: 0;
}


/* Greeting */
.greeting__title h3 {
    font-size: 2.8rem;
    margin: 0;
}
.greeting__slogan,
.greeting__link {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.greeting__link a{
    text-decoration: underline;
}

/* AddressHot */
.title h2{
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}
.slogan {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.addressHot__slideshow{
    max-width: 1400px;
    position: relative;  
}

.item {
    border-radius: 3px;
    overflow: hidden;
}

.product__cover {
    position: relative;
    width: 100%;
}
.product__cover::before {
    content: "";
    display: block;
    padding-top: 125%;
}
.product__cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item img{
 display: block;
}

.product__content {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}
.product__title {
    color: #fff;
    font-weight: 900;
    margin-top: 0.75rem;
    font-size: 2.75rem;
    margin-bottom: 2rem;
}
.product__price {
    display: block;
    color: #fdfdfd;
    font-size: 1.8rem;
}



/* endow */
.endow__link {
    font-size: 1.4rem;
    font-weight: 600;
}

.endow__item {
    border-radius: 10px;
    overflow: hidden;
}

/* suggest */
.suggest .owl-aparmentShow .item  a:hover {
    color: #222 !important;
}
.article__content {
    margin-top: 0.75rem;
}

.article__title {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
    font-weight: bold;
}
.article__excerpt {
    font-size: 1.5rem;
    line-height: 2.5rem;
}


/* post */
.post__item {
    margin-top: 1rem;
    border-radius: 0.1875rem;
    padding-top: 62.5%;
    background-position: 50%;
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
}
.post__item::before {
    content: "";
    display: block;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.5));
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
    left: 0;
}
.post__inner {
    border-radius: 0.1875rem;
    color: #fff;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.post__inner a {
    color: #fff;
}
.post__header {
    height: calc(100% - 70px);   
    padding: 2.4rem;
}
.post__category {
    background: rgba(0, 0, 0, .2);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.448rem 2.848rem 0.16rem;
    display: inline-block;
    border-radius: 1rem;
}

.post__title {
    position: relative;
    padding: 2.4rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
}

/* card */
.card__item {
    border-radius: 0.45rem;
    overflow: hidden;
    transition: all .3s;
}
.card__item:hover {
    transform: scale(95%);
}

/* introduction */


.svg-fill {
    fill: currentColor;
    stroke: none;
}
.svg-icon {
    display: inline-block;
    height: auto;
    width: 343px;
    color: inherit;
    vertical-align: middle;
}
.app-introduction__heading{
    font-size: 3rem;
    text-transform: uppercase;
}
.app-introduction__info {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 2.4rem;
}

.qr-code {
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 1.2rem;
    display: inline-block;
    /* cursor: pointer; */
}
.app-qr__link{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contact */
.widget {
    margin-top: 2.4rem;
    text-align: justify;
}
.widget__title {
    margin:  0 0 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.widget__text{
    font-size: 1.4rem;
    color: #555;
}
.about-item {
    display: flex;
    color: #000;
    align-items: center;
}

.about-item__content {
    flex-basis: 0 10 auto;
    margin-left: 1.2rem;
}
.widget__text .about-item:not(:first-child) {
    margin-top: 3rem;
}
.widget__menu {
    list-style: none;
}
.widget__menu-item {
    line-height: 3.2rem;
    display: block;
}

.widget .social>a:not(:first-child) {
    padding-left: 1.2rem;
}

/* footer */

.footer {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #999;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
}

.modal.open{
    display: flex;
}
/* .modalLogin{
    display: none;
}
.modalLogin.open{
    display: flex;
}
.modalRegistration {
    display: none;
}
.modalRegistration.open {
    display: flex;
} */

.modal-container {
    background-color: #fff;
    width: 1200px;
    max-width: calc(100% - 32px);
    position: relative;
    height: calc(100% - 120px);  
    margin-top: 80px;
    border-radius: 10px; 
    overflow: hidden;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
}
.modal-header {
    background: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
    padding: 20px 50px;
    text-align: center;
    color: #fff;
}

.modal-header__title {
    font-size: 2.4rem;
}
.modal-header__info {
    font-size: 1.8rem;
}
.close-icon {
    font-size: 2rem;
}

/* .modal-body {
    padding: 16px;
} */
.media {
    margin-top: 3rem;
}

.media__title {
    font-size: 1.8rem;
    margin: 2.4rem 0 1.4rem;
}
.media__content {
    font-size: 1.4rem;
    color: #555;
    line-height: 2.5rem;
}

/* account */
.account {
    height: 700px;
    max-height: 100%;
    overflow-y: scroll;
    margin-top: 3rem;
    padding: 3.2rem;
    background: #fff;
    box-shadow: 0 9px 46px 8px rgb(0 0 0 / 2%), 
    0 24px 38px 3px rgb(0 0 0 / 4%), 
    0 11px 15px -7px rgb(0 0 0 / 5%);
    border-radius: 1rem;
}
.account::-webkit-scrollbar{
    width: 10px;
}
.account::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}
.account__title{
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
}
.input-group__label {
    position: relative;
    font-weight: 700;
    display: block;
    font-size: 1.6rem;
}
.input-group {
    margin-bottom: 2.4rem;
}
.input-group:last-child {
    margin-bottom: 0 !important;
}
.input-group+.input-group {
    margin-top: 2.4rem;
}
.input-group__label+*, .input-group__label+.input {
    margin-top: 1.2rem;
}

.input-group__icon span {
    right: 1rem;
    top: calc(50% - 4px);
}

.input-icon i {
    font-size: 1.6rem;
}

.phone-input {
    display: flex;
}
.country {
    position: relative;
}

.country .code {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f6f6f6;
    border-radius: 2rem;
    width: 70px;
    margin-right: 1rem;
}
.flag-box {
    display: inline-block;
    width: 20px;
    margin-right: 6px;
    vertical-align: middle;
}

.iti-flag.vn {
    height: 14px;
    background-position: -5412px 0;
}

.iti-flag {
    width: 20px;
    height: 15px;
    box-shadow: 0 0 1px 0 #888;
    /* background-image: url(/assets/img/); */
    background-repeat: no-repeat;
    background-color: #dbdbdb;
}

.account__body > * {
    margin-top: 3.2rem;
}


.account__body {
    font-size: 1.6rem;
    text-align: center;
}
.caption {
    line-height: 2.5rem;
    font-size: 1.4rem;
}

.account__3rd .btn:last-child {
    margin-top: 1.6rem;
}
.account__3rd .btn {
    border-color: #e6e6e6;
}

.account__3rd i ,
.account__3rd svg {
    top: calc(50% - 1.2rem);
    right: 2.04rem;
}
.icon-facebook {
    color: #3a5999;
}

.icon-google {
    width: 1.6rem;
}
